.Product {
  padding: 16px;
  transition: box-shadow 200ms ease, background-color 200ms ease,
    color 200ms ease;
  border-radius: 8px;
}

.Product:hover {
  background-color: rgba(salmon, 0.5);

  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.Name {
  margin-bottom: 8px;
}

.Summary {
  margin-bottom: 8px;
}
