.Product {
  background-color: white;
  padding: 16px;
  border-radius: 24px;
}

.Name {
  margin-bottom: 8px;
}

.Summary {
  margin-bottom: 8px;
  font-size: 14px;
}

.Avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.Avatar > img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
